
<%= form_for @post do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>



  <div id="epiceditor">
    <%= f.label :body %><br>
    <%= f.text_area :body %><br><br>
  </div>

  <div>
    <%= f.submit %><br>
  </div>

  <!-- <script src="lib/js/epiceditor.min.js"> -->
  <script src="/epiceditor.min.js">
    //var editor = new EpicEditor({basePath: '/lib/js/epiceditor'}).load();
    var editor = new EpicEditor().load();
  </script>



<% end %>
